* {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  height: 80px;
  background-color: #5c73f2;
}

.main {
  height: 100vh;
}

#projectForm {
  display: none;
  background-color: #5c73f2;
}

#todoForm {
  display: none;
  background-color: #5c73f2;
}

@media only screen and (max-width: 767px) {
  .main {
    height: auto;
  }
}
